# Created by https://www.toptal.com/developers/gitignore/api/eclipse,java
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse,java

.metadata
Servers
EatPlatform/target/

/EatPlatform/src/main/webapp/META-INF/maven/com.eatplatform/web
