@charset "UTF-8";

#list_container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.list_title {
	width: 100%;
	font-size: 28px;
	margin: 20px auto;
	
}

#search-container {
    width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

#keyword {
	width: 20%;
    padding: 3px 10px;
    outline: none;
    border: 1px solid #aaa;
    margin-right: 5px;
}

#totalCount {
	margin: 20px auto;
	font-size: 18px;
}

#table_container {
	width: 800px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

#table_container ul {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ddd;
	padding: 12.5px 0;
}

#table_container ul li:not(.no_data) {
	width: calc( 100% / 6 );
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#table_container ul li span {
	font-size: 12px;
	font-weight: bold;
	color: #f00;
	width: 100%;
}

#table_container ul:last-child {
	border: none;
}

#tableBody {
	width: 100%;
	display: flex;	
	flex-wrap: wrap;
}

.link_block {
	width: 100%;
	display: block;
}

#pagination {
	width: 100%;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	margin-bottom: 15px;
}

#pagination a {
	margin: 0 5px;
}

#container button {
	background: #000;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	padding: 5px 7px;
	cursor: pointer;
	border: none;
	outline: none;
}

#container button:hover {
	background: #444;
}


/* width 687px ~ 1199px*/
@media (max-width: 1199px) {
	#list_container {
		width: 100%;
	}
	
	#table_container {
		width: 100%;
	}
}

@media (max-width: 686px) {
	#keyword {
		width: 50%;
	}	
	
	#table_container {
		font-size: 12px;
	}
}