@charset "UTF-8";

#container {
	margin: 30px auto 10px;
}

/* Store Container */
#storeContainer {
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.storeTitle {
	font-size: 24px;
}

#storeInfoBox {
	width: 100%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#storeInfoImg {
	width: 40%;
	height: 100%;
}

#storeInfoImg img {
	width: 100%;
	height: 100%;
}

#storeInfoText {
	width: 40%;
	height: 100%;
	display: flex;
}

#storeInfoText>div {
	width: 50%;
}

#storeInfoText ul {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: center;
	padding: 12px 0;
}

#storeInfoText ul li {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

#storeInfoText ul li span {
	display: inline-block;
	float: left;
	padding: 10px 0;
	font-size: 18px;
}

#storeInfoText ul li span:not(.colon) {
	width: 45%;
}

.textTitle {
	text-align: left;
	margin-right: 5%;
}

.textValue {
	text-align: right;
}

/* reservBtnWrap */
#reservBtnWrap {
	display: inline-block;
}

#reservBtnWrap input:not(#inputPersonnel) {
	width: 90%;
	margin: 0 auto 20px;
	background: #1b47b3;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	letter-spacing: 16px;
	padding: 5px 0;
	cursor: pointer;
	transition: 0.5s;
}

#reservBtnWrap input:hover {
	background: #fff;
	color: #1b47b3;
	box-shadow: 1px 2px 3px 2px #aaa;
}

#calendar-wrap {
	width: 50%;
	margin: 0 auto;
	display: none;
}
#calendar-wrap > div {
	display: none;
}

/* RemoteBar */
#remoteBar {
	width: 100%;
	display: inline-block;
}

#remoteBar ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background: #1b47b3;
	border-radius: 10px;
}

#remoteBar ul li {
	width: calc(100%/ 3);
}

#remoteBar ul li a {
	display: block;
	color: #fff;
	padding: 10px 0;
	font-weight: bold;
	font-size: 18px;
	transition: 0.15s;
}

#remoteBar ul li a:hover {
	color: #b0f9ff;
}

#storeContent {
	display: inline-block;
}

#storeContentDescription {
	width: 100%;
	display: inline-block;
	padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid #eee;
}

.descriptionTitle {
	font-size: 30px;
}

.descriptionContent {
	width: 100%;
	max-height: 150px;
	overflow-y: scroll;
	padding: 10px;
    border: 1px solid #eee;
    border-right: none;
    border-left: none;
}

/* ScrollBar */
.descriptionContent::-webkit-scrollbar,
#menuContainer::-webkit-scrollbar {
	width: 5px;
	border-radius: 35px;
	margin-right: 10px;
	position: absolute;
	right: 0;
}

.descriptionContent::-webkit-scrollbar-thumb,
#menuContainer::-webkit-scrollbar-thumb {
	background-color: #1b47b3;
	border-radius: 35px;
}

/* Menu Container */
#menuContainer {
	width: 100%;
	display: inline-block;
	max-height: 540px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-bottom: 40px;
}

#menuContainer ul {
	display: flex;
	flex-wrap: wrap;	
	/*border-radius: 15px;*/
	overflow: hidden;
}

#menuContainer ul li {
	width: 100%;
	height: 180px;
	display: inline-block;
	border: 1px solid #ddd;
	border-right: none;
	text-align: left;
	padding: 0 10px 10px 0;
}
/*
#menuContainer ul li:first-child {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#menuContainer ul li:last-child {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
*/
#menuContainer ul li:not(:first-child) {
	border-top: none;	
}

#menuContainer ul li img {
	width: 180px;
	height: 180px;
	margin-right: 15px;
	float: left;
}

.menuText {
	width: calc(100% - 195px);
	text-align: left;
	float: left;
	margin: 5px auto 10px;
	text-overflow: ellipsis;
}

.menuTitle {
	font-size: 20px;
}

.menuComment {
    height: 90px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.menuPrice {
	text-align: right;
}

#reviewContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#reviewContainer p {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 22px;
	border-bottom: 1px solid #ddd;
	text-align: left;	
}

#reviewBtn {
	background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1b47b3;
    font-weight: bold;
}

#reviewWrite {
	width: 100%;
	text-align: left;    
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#reviewWrite textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#scoreWrap {
	display: flex;
	float: left;
}

#scoreWrap img {
	width: 30px;
	cursor: pointer;
	margin: 0 3px;
}

#scoreWrap span {
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #1b32c7;
}

.scoreText {
	margin: 0 10px;
}

#tagSelect {
	display: flex;
	float: left;
	position: relative;
}

.tagBtn {
	width: 180px;
    background: #819afd;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#tagList {
    overflow: hidden;
    position: absolute;
    top: 24px;
    border: 1px solid #eee;
	border-radius: 15px;
    background: #fff;
    box-shadow: 2px 2px 6px #444;
    display: none;
}

#tagList li {
	float: left;
    display: flex;
    width: 180px;
    font-size: 13px;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

#tagList li:hover:not(.tagActive) {
	background: #819afd;
	color: #fff;
	font-weight: bold;
}

#tagList li:last-child {
    border-bottom: none;
}

#tagList li img {
	width: 20px;
}

.tagActive {
	background: #1b47b3;
	color: #fff;
	font-weight: bold;
}

#viewTag {
	width: 100%;
	display: inline-block;
	margin: 10px auto;
}

#viewTag li {
	display: inline-flex;
	align-items: center;
	border-radius: 25px;
    border: 1px solid #ddd;
    padding: 1px 10px;
    margin: 0 2.5px;
    font-size: 12px;
}

#viewTag li img {
	width: 30px;
	margin-right: 5px;
}

/* Report Modal */
.modal {
  display: none; /* 기본적으로 숨겨짐 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
