@charset "UTF-8";

#container {
	margin: 30px auto 10px;
}

/* Store Container */
#storeContainer {
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.storeTitle {
	font-size: 24px;
}

#storeInfoBox {
	width: 100%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#storeInfoImg {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#storeInfoImg img:not(.noImg) {
	width: 100%;
	height: 100%;
}

.slider-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.img_box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 1px solid #ddd;
}

.img_item {
	width: 100%;
	height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.noImg {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(67 77 201 / 65%);
    color: #fff;
    border: none;
    padding: 15px 12.5px;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: -20%;
}

.next-btn {
    right: -20%; 
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgb(37 49 199 / 80%);
}

#storeInfoText {
	width: 40%;
	height: 100%;
	display: flex;
}

#storeInfoText>div {
/* 	width: 50%; */
}

#storeInfoText ul {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: center;
	padding: 12px 0;
}

#storeInfoText ul li {
	width: 100%;
	display: flex;
    justify-content: space-evenly;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

#storeInfoText ul li span {
	display: inline-block;
	float: left;
	padding: 10px 0;
	font-size: 18px;
}

#storeInfoText ul li span:not(.colon) {
	width: 45%;
}

.textTitle {
	text-align: left;
	margin-right: 5%;
}

.textValue {
    text-align: right;
    display: flex !Important;
    align-items: center;
    justify-content: right;
}

.textValue img {
	width: 20px;
	margin-right: 5px;
}

/* reservBtnWrap */
#reservBtnWrap {
	display: inline-block;
}

#reservBtnWrap input:not(#inputPersonnel) {
	width: 90%;
	margin: 0 auto 20px;
	background: #1b47b3;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	letter-spacing: 16px;
	padding: 5px 0;
	cursor: pointer;
	transition: 0.5s;
}

#reservBtnWrap input:hover {
	background: #fff;
	color: #1b47b3;
	box-shadow: 1px 2px 3px 2px #aaa;
}

#calendar-wrap {
	width: 50%;
	margin: 0 auto;
	display: none;
}
#calendar-wrap > div {
	display: none;
}

/* RemoteBar */
#remoteBar {
	width: 100%;
	display: inline-block;
}

#remoteBar ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background: #1b47b3;
	border-radius: 10px;
}

#remoteBar ul li {
	width: calc(100%/ 3);
}

#remoteBar ul li a {
	display: block;
	color: #fff;
	padding: 10px 0;
	font-weight: bold;
	font-size: 18px;
	transition: 0.15s;
}

#remoteBar ul li a:hover {
	color: #b0f9ff;
}

#storeContent {
	display: inline-block;
}

#storeContentDescription {
	width: 100%;
	display: inline-block;
	padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid #eee;
}

.descriptionTitle {
	font-size: 24px;
}

.descriptionContent {
	width: 100%;
	max-height: 150px;
	overflow-y: scroll;
	padding: 10px;
    border: 1px solid #eee;
    border-right: none;
    border-left: none;
}

/* ScrollBar */
.descriptionContent::-webkit-scrollbar,
#menuContainer::-webkit-scrollbar {
	width: 5px;
	border-radius: 35px;
	margin-right: 10px;
	position: absolute;
	right: 0;
}

.descriptionContent::-webkit-scrollbar-thumb,
#menuContainer::-webkit-scrollbar-thumb {
	background-color: #1b47b3;
	border-radius: 35px;
}

/* Menu Container */
#menuContainer {
	width: 100%;
	display: inline-block;
	max-height: 540px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-bottom: 40px;
	padding: 15px 10px;
}

#menuContainer ul {
	display: flex;
	flex-wrap: wrap;	
	overflow: hidden;
}

#menuContainer ul li {
	width: 100%;
	display: inline-block;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 10px;
}

.menuTitle {
	font-size: 24px;
}

#menuContainer ul li:not(:first-child) {
	border-top: none;	
}

#menuContainer ul li img {
	width: 180px;
	height: 180px;
	margin-right: 15px;
	float: left;
}

.menuText {
	width: 100%;
	text-align: left;
	float: left;
	margin: 5px auto 10px;
	text-overflow: ellipsis;
}

.menuName {
	font-size: 20px;
}

.menuComment {
    min-height: 40px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.menuPrice {
	text-align: right;
}

#reviewContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #ddd;
}

.review_cover {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 22px;
	border-bottom: 1px solid #ddd;
	text-align: left;	
}

#reviewBtn {
	background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1b47b3;
    font-weight: bold;
}

#reviewWrite {
	width: 100%;
	text-align: left;    
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#reviewWrite textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  font-size: 18px;
}

#scoreWrap {
	display: flex;
	align-items: center;
}

#scoreWrap img {
	width: 20px;
	cursor: pointer;
	margin: 0 3px;
}

#scoreWrap span {
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #1b32c7;
}

.scoreText {
	margin: 0 10px;
}

#tagSelect {
	display: flex;
	float: left;
	position: relative;
}

.tagBtn {
	width: 180px;
    background: #819afd;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 3px 0;
}

#tagList {
    overflow: hidden;
    position: absolute;
    top: 24px;
    border: 1px solid #eee;
	border-radius: 15px;
    background: #fff;
    box-shadow: 2px 2px 6px #444;
    display: none;
}

#tagList li {
	float: left;
    display: flex;
    width: 180px;
    font-size: 13px;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

#tagList li:hover:not(.tagActive) {
	background: #819afd;
	color: #fff;
	font-weight: bold;
}

#tagList li:last-child {
    border-bottom: none;
}

#tagList li img {
	width: 20px;
}

.tagActive {
	background: #1b47b3;
	color: #fff;
	font-weight: bold;
}

#viewTag {
	width: 100%;
	display: inline-block;
	margin: 10px auto;
}

#viewTag li {
	display: inline-flex;
	align-items: center;
	border-radius: 25px;
    border: 1px solid #ddd;
    padding: 1px 10px;
    margin: 0 2.5px;
    font-size: 12px;
}

#viewTag li img {
	width: 30px;
	margin-right: 5px;
}

/* Report Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #888;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content h2 {
	margin-bottom: 20px;
}

.modal-content ul {
	margin-bottom: 15px;
}

.modal-content ul li {
	margin: 10px auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

#reviews {
	width: 100%;
	margin-bottom: 20px;
}

.no_review {
	font-size: 22px;
	margin: 0 auto;
	text-align: center;
}

.no-edit {
    background: transparent;
    border: none;
    outline: none;
    cursor: default;
}

.review_box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px;
}

.review_item:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.review_line1 {
	width: 100%;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 10px;
	display: flex;
    justify-content: space-between;
}

.review_line1 > div {
	width: 50%;
    display: flex;
    align-items: center;
}

.line1_right {
	justify-content: right;
}

.userName {
	font-size: 20px;
	margin-right: 20px;
}

#reviewStar {
	font-size: 24px;
	font-weight: bold;
	color:#113ed7;
}

.regDate {
	font-size: 14px;
}

.review_tags {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.review_tags li {
	display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 1px 10px;
    font-size: 12px;
    margin: 2.5px;
}

.review_tags li img {
    width: 30px;
}

#reviewConetent {
    width: 100%;
    min-height: 80px;
    text-align: left;
    padding-left: 20px;
    margin: 30px auto 10px;
}

.review_like {
   	display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.review_like img {
	width: 20px;
	margin-left: 10px;
	cursor: pointer;
}

.review_buttons {
  	display: flex;
    justify-content: right;
    width: 100%;
}

.review_buttons button {
    border: none;
    outline: none;
	background: #364db5;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}


#loadMoreBtn:hover,
.review_buttons button:hover {
    background: #5e7cff;
}

.review_reply {
	margin-bottom: 10px;
}

.reply_item {
	text-align: left;
	padding-left: 20px;
}

textarea#replyContent {
	width: 100%;
    height: 80px;
    resize: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

#replyContent {
	margin: 15px auto;
}

.btn_reply {
	border: none;
    outline: none;
    background: #364db5;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.btn_reply:hover {
	background: #5e7cff;
}

#loadMoreBtn {
	width: 90%;
    border: none;
    outline: none;
    background: #364db5;
    color: #fff;
    padding: 7.5px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 25pt;
    margin: 0 auto;
    cursor: pointer;
}

/* width 687px ~ 1199px*/
@media (max-width: 1199px) {
	#storeContainer {
		width: 100%;
	}
}

/* width ~ 686px */ 
@media (max-width: 686px) {
	#storeInfoBox {
		height: auto;
	}
	
	#storeInfoImg {
	    width: 70%;
	    margin: 0 auto 20px;
	}
	#storeInfoText {
		width: 100%;
		margin: 0 auto;
	}
}
