@charset "UTF-8";

#container {
    width: 1200px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

#list_box {
    width: 100%;
    display: inline-block;
    position: relative
}

#category_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#item_box {
    width: 25%;
    height: 12.5%;
    float: left;
    position: relative;
    margin: 5px 3.75%;
    cursor: pointer;
}

.img_box,
.text_box {
    width: 50%;
    height: 100%;
    float: left;
}

.img_box img {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.store_comment {
	max-width: 150px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    white-space: normal;
}

.pagination {
	width: 100%;
	display: block;
	float: left;
	text-align: center;	
}