@charset "UTF-8";

body {
	max-height: 100vh;
	overflow: hidden;
}

#container {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

#mapController {
	width: 350px;
	float: left;
	position: relative;
}

#map {
	width: calc(100vw - 350px);
	float: left;
}

/* 검색창 */
#search_wrap {
	width: 90%;
	display: inline-block;
	padding: 5%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.search_box {
	width: 100%;
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	border: 1px solid #19ce60;
	border-radius: 3px;
}

.search_box button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#searchButton {
    background-image: url(../../img/common/sch_btnGR.png);
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: center top 5px;
}

#clearButton {
	font-size: 18px;
    line-height: 18px;
    color: #999;
}

#keywordInput {
	width: calc(100% - 80px);
	border: none;
	outline: none;
}

/* 태그  */
#tagList {
	width: 90%;
	display: inline-block;
	text-align: left;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

#tagList > div:not(#tag_icon1) {
	display: inline-flex;
	font-size: 14px;
	line-height: 23px;
	border: 1px solid #ddd;
    border-radius: 15px;
    padding: 2px 8px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
}

#tagList > div:not(#tag_icon1):hover {
	background: #eee;
	font-weight: bold;
}

.selected {
	background: rgba(3, 170, 90, 0.08) !important;
	color: #03aa5a !important;
	border : 1px solid #03aa5a !Important;
	font-weight: bold;
}

#tag_icon1 {
	display: inline-flex;
	font-size: 14px;
	line-height: 23px;
	border: none;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

#tagList > div > img {
	width: 23px;
	margin-right: 5px;
}

/* Store List */

#storeList {
	height: 57vh;
	overflow: scroll;
	overflow-x: hidden;
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
}

/* ScrollBar */
#storeList::-webkit-scrollbar,
#menuContainer::-webkit-scrollbar {
	width: 5px;
	border-radius: 35px;
}

#storeList::-webkit-scrollbar-thumb,
#menuContainer::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 35px;
}

.detail_text {
	display: none;
    position: absolute;
    top: 0;
    left: -50%;
    transform: translate(-50%, -130%);
    background: #fff;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
}

.detail_text * {
	margin-bottom: 5px;
}

.overlay_comment {
	max-width: 200px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
	word-break: break-word; 
	white-space: normal;
}

.no-data {
	font-size: 18px;
	font-weight: bold;
}

.store {
	padding: 5px 25px;
	text-align: left;
}

.store:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.store * {
	margin-bottom: 5px;
	font-size: 14px;
}

.store h3 {
	font-weight: normal;
	font-size: 16px;
}

.store h3 a {
	font-size: 17px;
	color: rgb(0, 104, 195);	
}

.store h3 a:hover {
	font-weight: bold;
}

.address span:not(.address_mark) {
	font-size: 12px;
}

.address_mark {    
	background: #fff;
	border: 1px solid #ccc;
    font-size: 10px;
    padding: 1px;
    font-weight: bold;
    margin-right: 3px;
}

.store_comment {
	max-width: 250px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
	word-break: break-word; 
	white-space: normal;
}

.store_phone {
	display: flex;
	align-item: center;
}

.store_phone img {
    width: 15px;
    height: 15px;
    margin: 2px 5px 0 0;
}

#pagination {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: .5vh;
	background: #fff;
}

#pagination button {
    background: transparent;
    border: none;
    outline: none;
    margin: 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0 91 171);
    cursor: pointer;
}

#pagination button:hover {
    color: rgb(124 185 255);
}

.active {
    color: rgb(124 185 255) !important;
}