@charset "UTF-8";


/* 전체 wrap */
#wrap {
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    position: relative;
}

/* Header */
header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background: #fbfbfb;
    justify-content: space-between;
    align-items: center;
}
/* Header Logo */
.logo {
    width: 10%;
    text-align: center;
}

.logo img {
    width: 100%;
    padding: 1% 2%;
    margin-left: 15px;
}
 /* Header Search */
.search_form {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#search_input {
    width: 100%;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    box-sizing: border-box;
    background: url('sch_btn.png') no-repeat right 10px center;
    background-size: 35px;
}

/* Header Login */
.login_form {
    width: 15%;
    display: inline-block;
}

.login_form ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login_form ul li {
    width: 50%;
    text-align: center;
}

/* Empty Header & Footer*/
#empty_header,
#empty_footer {
    width: 100%;
    display: block;
}


/* Container */
#container {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 10px auto;
}

/* Footer */
footer {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fbfbfb;
    border-top: #e7e7e7 1px solid;
}


#footer_container {
    width: 1200px;
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#footer_container>div {
    float: left;
    position: relative;
}

/* Footer Logo */
.footer_logo {
    width: 20%;
    border-right: 1px solid #d7d7d7;
    margin-right: 10px;
}

.footer_logo img {
    width: 80%;
}

/* footer Text */
#text_container {
    width: 80%;
    text-align: left;
}

#text_container p {
    padding: 5px 7.5px;
}

/* Footer Icon */
#icon_box {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon_box ul li {
    float: left;
    margin: 0 5px;
}

#icon_box img {
    width: 30px;
}


/* width 687px ~ 1199px*/
@media (max-width: 1199px) and (min-width: 687px) {
    .logo {
        width: 15%;
    }

    .login_form {
        width: 20%;
    }

    #footer_container {
        width: 100%;
    }

}

/* width ~ 686px */ 
@media (max-width: 686px) {
    .logo {
        width: 25%;
    }

    .login_form {
        width: 25%;
        font-size: 12px;
    }

    #footer_container {
        width: 100%;
    }
}