@charset "UTF-8";
												
.calendar-container {
	text-align: center;
	margin-bottom: 20px;
}

.limit_ment {
	font-size: 18px;
    margin-bottom: 10px;
}

.personnel_controller {
	margin: 15px auto;
}

.personnel_controller button {
	border: none;
    outline: none;
    background: #364db5;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.personnel_controller input {
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: 0 10px;
	outline: none;
	padding: 3px 4px;
}

.personnel_controller button:hover {
	background: #5e7cff;
}

#reservLimit {
	color:#f00;
	font-weight: bold;
}

.calendar-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar-header h2 {
	margin: 0 25px;
}

.calendar-header button {
	background: none;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
	margin-top: 10px;
}

.calendar div {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}

.calendar .day-names {
	font-weight: bold;
	background-color: #f0f0f0;
	cursor: default;
}

.calendar .today {
	color: green;
}

.calendar .holiday {
	color: red;
}

.time-container {
	text-align: center;
}

.time-slots div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	margin-top: 10px;
	position: relative;
	min-height: 100px;
}

.no_reserv {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time-slots div h3 {
    grid-column: span 4;
    margin: 10px 0 10px; 
    text-align: left; 
}

.time-slots div button {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	outline: none;
}

.time-slots button:not(.disabled):hover,
.calendar div:not(.disabled):not(.day-names):hover {
	background-color: #000;
	color: #fff;
}

.selected {
	background-color: #4caf50 !important;
	color: white !important;
}

.holiday {
	background-color: #ff4747 !important;
	color: white !important;
}

.disabled {
    background-color: #eee !important;
    color: #a9a9a9 !important;
    cursor: not-allowed;
}

.selection-display {
	margin: 20px;
	text-align: center;
	font-weight: bold;
}

.hidden-input {
	display: none;
}