@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'ChosunMyungjo'
}

ul, ol, li {
    list-style: none;
}

a {
	color: #000;
}

body {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}