@charset "UTF-8";

.user_container {
	width: 500px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.user_container button {
	padding: 4px 8px;
	border: none;
	outline: none;
	background: #000;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.user_container button:hover {
	background: #444;
}

.detail_title {
	width: 100%;
	text-align: center;
	font-size: 28px;
	margin: 20px auto;
}

.no-cursor {
	background: #ddd;
	pointer-events: none;
	user-select: none;
}

#userInfoForm {
	width: 100%;
	text-align: left;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

#userInfoForm label {
	width: 30%;
	display: inline-block;
	margin-right: 5%;
	border-right: 1px solid #ddd;
}

#userInfoForm > div {
	width: 80%;
	display: flex;	
	justify-content: space-evenly;
	margin: 15px auto;
}

#userInfoForm > div > input {
	border: 1px solid #000;
	outline: none;
	padding:3px 4px;
}

#userInfoForm > div > input:not(.no-cursor) {
	font-weight: bold;
}

.btn_container {
	width: 80%;
	display: flex;
	justify-content: space-evenly;	
}


@media (max-width: 686px) {
	.user_container {
		width: 100%;
	}	
	
	.btn_container {
		width: 100%;
	}
	
	.btn_container button {
		font-size: 16px;
	} 
	 
}