<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.BusinessRequestMapper">

	<resultMap type="com.eatplatform.web.domain.BusinessRequestVO" id="businessRequestResultMap">
		<id property="businessRequestId" column="BUSINESS_REQUEST_ID" />
		<result property="storeId" column="STORE_ID"/>
		<result property="userId" column="USER_ID" />
		<result property="requestApprovals" column="REQUEST_APPROVALS"/>
		<result property="businessRequestRegDate" column="BUSINESS_REQUEST_REG_DATE" />
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.RequestInfoVO" id="infoResultMap">
		<id property="businessRequestId" column="BUSINESS_REQUEST_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="ownerName" column="OWNER_NAME"/>
		<result property="storePhone" column="STORE_PHONE"/>
		<result property="foodCategory" column="FOOD_CATEGORY"/>
		<result property="businessHour" column="BUSINESS_HOUR"/>
		<result property="storeComment" column="STORE_COMMENT"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="roadAddress" column="ROAD_ADDRESS"/>
		<result property="jibunAddress" column="JIBUN_ADDRESS"/>
		<result property="regDate" column="REG_DATE"/>
	</resultMap>
	
	<select id="selectBusinessRequest" resultMap="businessRequestResultMap">
		SELECT * FROM BUSINESS_REQUEST
		WHERE BUSINESS_REQUEST_ID = #{businessRequestId}
	</select>
	
	<insert id="insertBusinessRequest" useGeneratedKeys="true" keyProperty="businessRequestId" keyColumn="BUSINESS_REQUEST_ID">
		INSERT INTO BUSINESS_REQUEST
		VALUES(
			BUSINESS_REQUEST_SEQ.NEXTVAL,
			#{storeId},
			#{userId},
			#{requestApprovals},
			SYSDATE
		)
	</insert>
	
	<select id="selectBusinessRequestByBusinessRequestId" resultMap="infoResultMap">
		SELECT b.BUSINESS_REQUEST_ID, 
			b.STORE_ID, 
			b.BUSINESS_REQUEST_REG_DATE AS REG_DATE, 
			s.STORE_NAME, 
			s.OWNER_NAME, 
			s.STORE_PHONE, 
			s.FOOD_CATEGORY, 
			s.BUSINESS_HOUR, 
			s.STORE_COMMENT, 
			s.DESCRIPTION, 
			a.ROAD_ADDRESS, 
			a.JIBUN_ADDRESS 
		FROM BUSINESS_REQUEST b
		INNER JOIN STORE s
			ON s.STORE_ID = b.STORE_ID
		INNER JOIN STORE_ADDRESS a
			ON a.STORE_ID = b.STORE_ID
		WHERE b.BUSINESS_REQUEST_ID = #{businessRequestId}
	</select>
	
	<select id="selectBusinessRequestListByPagination" resultMap="infoResultMap">
		SELECT b.BUSINESS_REQUEST_ID, 
			b.STORE_ID, 
			b.BUSINESS_REQUEST_REG_DATE AS REG_DATE,
			s.STORE_NAME, 
			s.OWNER_NAME, 
			s.STORE_PHONE, 
			s.FOOD_CATEGORY, 
			s.BUSINESS_HOUR, 
			s.STORE_COMMENT, 
			s.DESCRIPTION, 
			a.ROAD_ADDRESS, 
			a.JIBUN_ADDRESS 
		FROM
		(
		    SELECT ROW_NUMBER() OVER (ORDER BY BUSINESS_REQUEST_ID DESC)
		    AS RN, BUSINESS_REQUEST.* FROM BUSINESS_REQUEST
		) b
		INNER JOIN STORE s
		ON s.STORE_ID = b.STORE_ID
		INNER JOIN STORE_ADDRESS a
		ON a.STORE_ID = b.STORE_ID
		WHERE b.RN BETWEEN #{start} AND #{end}
		ORDER BY BUSINESS_REQUEST_ID DESC
	</select>
	
	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(BUSINESS_REQUEST_ID)
		FROM BUSINESS_REQUEST
	</select>
	
	<select id="selectBusinessRequestIdByuserId" resultType="Integer">
		SELECT NVL(
			(SELECT BUSINESS_REQUEST_ID
			FROM BUSINESS_REQUEST
			WHERE USER_ID = #{userId}), 0
		) AS ID
		FROM DUAL
	</select>
	
	<delete id="deleteBusinessRequest">
		DELETE FROM BUSINESS_REQUEST
		WHERE BUSINESS_REQUEST_ID = #{businessRequestId}
	</delete>
</mapper>