<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.HolidayMapper">

	<resultMap type="com.eatplatform.web.domain.HolidayVO" id="holidayResultMap">
		<id property="holidayId" column="HOLIDAY_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="holiday" column="HOLIDAY"/>
	</resultMap>
	
	<select id="selectHolidayByHolidayAndStoreId" resultMap="holidayResultMap">
		SELECT * FROM HOLIDAY
		WHERE HOLIDAY = #{holiday}
		AND STORE_ID = #{storeId}
	</select>
	
	<select id="selectHolidayListByHolidayAndStoreId" parameterType="map" resultMap="holidayResultMap">
		SELECT * FROM HOLIDAY
		WHERE HOLIDAY IN
		<foreach collection="holidayList" item="list" open="(" close=")" separator=",">
			#{list.holiday}
		</foreach>
		AND STORE_ID = #{storeId}
	</select>
	
	<select id="selectHolidayListByStoreId" resultMap="holidayResultMap">
		SELECT * FROM HOLIDAY
		WHERE STORE_ID = #{storeId}
	</select>
	
	<insert id="insertHoliday">
		INSERT INTO HOLIDAY
		VALUES(
			HOLIDAY_SEQ.NEXTVAL,
			#{storeId},
			#{holiday}
		)
	</insert>
	
	<insert id="multipleInsertHoliday">
		INSERT INTO HOLIDAY (HOLIDAY_ID, STORE_ID, HOLIDAY)
	    SELECT HOLIDAY_SEQ.NEXTVAL, storeId, holiday
	    FROM (
	        <foreach collection="holidayList" item="holiday" separator="UNION ALL">
	            SELECT #{holiday.storeId} AS storeId, #{holiday.holiday} AS holiday FROM DUAL
	        </foreach>
	    )
	</insert>
	
	<delete id="deleteHolidayByStoreIdHoliday">
		DELETE HOLIDAY
		WHERE STORE_ID = #{storeId}
		AND HOLIDAY = #{holiday}
	</delete>
	
</mapper>