<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.HolidayMapper">

	<resultMap type="com.eatplatform.web.domain.HolidayVO" id="holidayResult">
		<id property="holidayId" column="HOLIDAY_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="holiday" column="HOLIDAY"/>
	</resultMap>
	
	<insert id="insertHoliday">
		INSERT INTO HOLIDAY
		VALUES(
			HOLIDAY_SEQ_NEXVAL,
			#{storeId},
			#{holiday}
		)
	</insert>
	
</mapper>