<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace -->
<mapper namespace="com.eatplatform.web.persistence.MenuMapper">

	<resultMap type="com.eatplatform.web.domain.MenuVO"
		id="MenuResultMap">
		<id property="menuId" column="MENU_ID" />
		<result property="storeId" column="STORE_ID" />
		<result property="menuName" column="MENU_NAME" />
		<result property="menuPrice" column="MENU_PRICE" />
		<result property="menuComment" column="MENU_COMMENT" />
		<result property="represent" column="REPRESENT" />
		<result property="menuImg" column="MENU_IMG" />
		<result property="menuRegDate" column="MENU_REG_DATE" />
	</resultMap>


	<insert id="insertMenu">
		INSERT INTO MENU(
		MENU_ID, STORE_ID,
		MENU_NAME,
		MENU_PRICE,
		MENU_COMMENT,
		REPRESENT
		) VALUES (
		MENU_SEQ.NEXTVAL,
		#{storeId},
		#{menuName},
		#{menuPrice},
		#{menuComment},
		#{represent}
		)
	</insert>

	<select id="selectMenuByStoreId" resultMap="MenuResultMap">
		SELECT *
		FROM MENU
		WHERE
		STORE_ID = #{storeId}
	</select>

	<select id="countRepresentMenuByStoreId" resultType="int">
		SELECT
		COUNT(*)
		FROM MENU
		WHERE STORE_ID = #{storeId}
		AND REPRESENT = 1
	</select>
	
	<select id="selectMenuByMenuId" resultMap="MenuResultMap">
		SELECT *
		FROM MENU
		WHERE MENU_ID = #{menuId}
	</select>
	
	<select id="selectMenuStoreIdByMenuId" resultType="String">
		SELECT s.STORE_USER_ID
		FROM MENU m
		LEFT OUTER JOIN STORE s
		ON m.STORE_ID = s.STORE_ID
		WHERE
		MENU_ID = #{menuId}
	</select>
	
	<delete id="deleteMenuByMenuId">
		DELETE MENU
		WHERE MENU_ID = #{menuId}
	</delete>
</mapper>