<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace -->
<mapper namespace="com.eatplatform.web.persistence.ProductMapper">

	<resultMap type="com.eatplatform.web.domain.ProductVO"
		id="ProductResultMap">
		<id property="productId" column="PRODUCT_ID" />
		<result property="productStoreId" column="PRODUCT_STORE_ID" />
		<result property="productStoreName" column="PRODUCT_STORE_NAME" />
		<result property="sellerId" column="SELLER_ID" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productBundle" column="PRODUCT_BUNDLE" />
		<result property="productStock" column="PRODUCT_STOCK" />
		<result property="createAt" column="CREATEAT" />
		<result property="updatedAt" column="UPDATEAT" />
	</resultMap>

	<resultMap
		type="com.eatplatform.web.domain.ProductCategoryVO"
		id="ProductCategoryResultMap">
		<id property="productId" column="PRODUCT_ID" />
		<result property="mainCategoryId" column="MAIN_CATEGORY_ID" />
		<result property="subCategoryId" column="SUB_CATEGORY_ID" />
		<result property="mainCategoryName" column="MAIN_CATEGORY_NAME" />
		<result property="subCategoryName" column="SUB_CATEGORY_NAME" />
	</resultMap>

	<resultMap
		type="com.eatplatform.web.domain.ProductMainCategoryVO"
		id="MainCategoryResultMap">
		<id property="mainCategoryId" column="MAIN_CATEGORY_ID" />
		<result property="mainCategoryName" column="MAIN_CATEGORY_NAME" />
	</resultMap>

	<resultMap
		type="com.eatplatform.web.domain.ProductSubCategoryVO"
		id="SubCategoryResultMap">
		<id property="subCategoryId" column="SUB_CATEGORY_ID" />
		<result property="mainCategoryId" column="MAIN_CATEGORY_ID" />
		<result property="subCategoryName" column="SUB_CATEGORY_NAME" />
	</resultMap>

	<insert id="insertProduct"
		parameterType="com.eatplatform.web.domain.ProductVO"
		useGeneratedKeys="true" keyProperty="productId" keyColumn="PRODUCT_ID">
		INSERT INTO
		PRODUCT(
		PRODUCT_ID,
		PRODUCT_STORE_ID,
		PRODUCT_STORE_NAME,
		SELLER_ID,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_BUNDLE,
		PRODUCT_STOCK
		) VALUES
		(
		PRODUCT_SEQ.NEXTVAL,
		#{productStoreId},
		#{productStoreName},
		#{sellerId},
		#{productName},
		#{productPrice},
		#{productBundle},
		#{productStock}
		)
	</insert>

	<insert id="insertProductCategory">
		INSERT INTO
		PRODUCT_CATEGORY(
		PRODUCT_ID,
		MAIN_CATEGORY_ID,
		SUB_CATEGORY_ID,
		MAIN_CATEGORY_NAME,
		SUB_CATEGORY_NAME
		) VALUES (
		#{productId},
		#{mainCategoryId},
		#{subCategoryId},
		#{mainCategoryName},
		#{subCategoryName}
		)
	</insert>

	<insert id="insertMainCategory"
		parameterType="com.eatplatform.web.domain.ProductMainCategoryVO">
		INSERT INTO PRODUCT_MAIN_CATEGORY(
		MAIN_CATEGORY_ID,
		MAIN_CATEGORY_NAME
		) VALUES (
		PRODUCT_MAIN_CATEGORY_SEQ.NEXTVAL,
		#{mainCategoryName}
		)
	</insert>

	<insert id="insertSubCategory"
		parameterType="com.eatplatform.web.domain.ProductSubCategoryVO">
		INSERT INTO PRODUCT_SUB_CATEGORY(
		SUB_CATEGORY_ID,
		MAIN_CATEGORY_ID,
		SUB_CATEGORY_NAME
		) VALUES (
		PRODUCT_SUB_CATEGORY_SEQ.NEXTVAL,
		#{mainCategoryId},
		#{subCategoryName}
		)
	</insert>

	<select id="selectMainCategoryAll"
		resultMap="MainCategoryResultMap">
		SELECT *
		FROM PRODUCT_MAIN_CATEGORY
	</select>

	<select id="selectMainCategoryByMainCategoryId"
		resultMap="MainCategoryResultMap">
		SELECT *
		FROM PRODUCT_MAIN_CATEGORY
		WHERE
		MAIN_CATEGORY_ID =
		#{mainCategoryId}
	</select>
	
	<select id="selectMainCategoryNameByMainCategoryId"
		resultType="String">
		SELECT MAIN_CATEGORY_NAME
		FROM PRODUCT_MAIN_CATEGORY
		WHERE
		MAIN_CATEGORY_ID =
		#{mainCategoryId}
	</select>

	<select id="selectSubCategoryByMainCategoroyId"
		parameterType="Int" resultMap="SubCategoryResultMap">
		SELECT *
		FROM PRODUCT_SUB_CATEGORY
		WHERE
		MAIN_CATEGORY_ID = #{mainCategoryId}
		ORDER BY SUB_CATEGORY_ID ASC
	</select>

	<select id="selectSubCategoryBySubCategoryId"
		resultMap="SubCategoryResultMap">
		SELECT *
		FROM PRODUCT_SUB_CATEGORY
		WHERE
		SUB_CATEGORY_ID =
		#{subCategoryId}
	</select>
	
		
	<select id="selectSubCategoryNameBySubCategoryId"
		resultType="String">
		SELECT SUB_CATEGORY_NAME
		FROM PRODUCT_SUB_CATEGORY
		WHERE
		SUB_CATEGORY_ID =
		#{subCategoryId}
	</select>

	<select id="selectProductCategory"
		resultMap="ProductCategoryResultMap">
		SELECT *
		FROM PRODUCT_CATEGORY
		WHERE
		PRODUCT_ID IN
		<foreach item="id" collection="productIdList" open="("
			close=")" separator=",">
			#{id}
		</foreach>
		ORDER BY
		PRODUCT_ID ASC
	</select>

	<select id="selectProductAllList" resultMap="ProductResultMap">
		SELECT *
		FROM (
		SELECT PRODUCT.*, ROW_NUMBER() OVER (ORDER BY PRODUCT_ID
		ASC)
		AS RN
		FROM PRODUCT
		<where>
			PRODUCT_STOCK > 0
			<if test="keyword != null and keyword != ''">
				AND PRODUCT_NAME LIKE '%' || #{keyword} || '%'
			</if>
		</where>
		)
		WHERE RN BETWEEN #{startNum} AND #{endNum}
	</select>

	<select id="selectProductAllListCount" resultType="int">
		SELECT COUNT(*)
		FROM (
		SELECT PRODUCT.*, ROW_NUMBER() OVER (ORDER BY
		PRODUCT_ID
		ASC) AS RN
		FROM PRODUCT
		<where>
			PRODUCT_STOCK > 0
			<if test="keyword != null and keyword != ''">
				AND PRODUCT_NAME LIKE '%' || #{keyword} || '%'
			</if>
		</where>
		)
	</select>

	<update id="updateMainCategory">
		UPDATE PRODUCT_MAIN_CATEGORY
		SET MAIN_CATEGORY_NAME =
		#{mainCategoryName}
		WHERE MAIN_CATEGORY_ID = #{mainCategoryId}
	</update>

	<update id="updateSubCategory">
		UPDATE PRODUCT_SUB_CATEGORY
		SET
		MAIN_CATEGORY_ID =
		#{mainCategoryId},
		SUB_CATEGORY_NAME = #{subCategoryName}
		WHERE
		SUB_CATEGORY_ID = #{subCategoryId}
	</update>

	<delete id="deleteMainCategory">
		DELETE FROM PRODUCT_MAIN_CATEGORY
		WHERE
		MAIN_CATEGORY_ID = #{mainCategoryId}
	</delete>

	<delete id="deleteSubCategory">
		DELETE FROM PRODUCT_SUB_CATEGORY
		WHERE
		SUB_CATEGORY_ID
		= #{subCategoryId}
	</delete>

</mapper>