<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.ReservMapper">

	<resultMap type="com.eatplatform.web.domain.ReservVO" id="reservResultMap">
		<id property="reservId" column="RESERV_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="reservDate" column="RESERV_DATE"/>
		<result property="reservHour" column="RESERV_HOUR"/>
		<result property="reservMin" column="RESERV_MIN"/>
		<result property="reservPersonnel" column="RESERV_PERSONNEL"/>
		<result property="reservDateCreated" column="RESERV_DATE_CREATED"/>
		<result property="cancelStatus" column="CANCEL_STATUS"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.ReservWithStoreNameVO" id="reservWithStoreNameResultMap">
		<id property="reservId" column="RESERV_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="reservDate" column="RESERV_DATE"/>
		<result property="reservHour" column="RESERV_HOUR"/>
		<result property="reservMin" column="RESERV_MIN"/>
		<result property="reservPersonnel" column="RESERV_PERSONNEL"/>
		<result property="reservDateCreated" column="RESERV_DATE_CREATED"/>
		<result property="cancelStatus" column="CANCEL_STATUS"/>
		<result property="storeName" column="STORE_NAME"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.ReservInfoVO" id="reservInfoResultMap">
		<id property="reservId" column="RESERV_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="reservDate" column="RESERV_DATE"/>
		<result property="reservHour" column="RESERV_HOUR"/>
		<result property="reservMin" column="RESERV_MIN"/>
		<result property="reservPersonnel" column="RESERV_PERSONNEL"/>
		<result property="reservDateCreated" column="RESERV_DATE_CREATED"/>
		<result property="cancelStatus" column="CANCEL_STATUS"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="storePhone" column="STORE_PHONE"/>
		<result property="roadAddress" column="ROAD_ADDRESS"/>
		<result property="jibunAddress" column="JIBUN_ADDRESS"/>
		<result property="detailAddress" column="DETAIL_ADDRESS"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.StoreScheduleVO" id="storeScheduleResultMap">
		<id property="hour" column="RESERV_HOUR"/>
		<result property="min" column="RESERV_MIN"/>
		<result property="reservDate" column="RESERV_DATE"/>
		<result property="totalPersonnel" column="TOTAL_PERSONNEL"/>
		<result property="reservTeam" column="RESERV_TEAM"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.JoinReservUserNameVO" id="joinReservUserNameResultMap">
		<id property="reservId" column="RESERV_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="reservDate" column="RESERV_DATE"/>
		<result property="reservHour" column="RESERV_HOUR"/>
		<result property="reservMin" column="RESERV_MIN"/>
		<result property="reservPersonnel" column="RESERV_PERSONNEL"/>
		<result property="reservDateCreated" column="RESERV_DATE_CREATED"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.CancelReservInfoVO" id="cancelReservInfoResultMap">
		<id property="reservId" column="RESERV_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="reservDate" column="RESERV_DATE"/>
		<result property="reservHour" column="RESERV_HOUR"/>
		<result property="reservMin" column="RESERV_MIN"/>
		<result property="reservPersonnel" column="RESERV_PERSONNEL"/>
		<result property="reservDateCreated" column="RESERV_DATE_CREATED"/>
		<result property="cancelStatus" column="CANCEL_STATUS"/>
		<result property="cancelId" column="CANCEL_ID"/>
		<result property="requestStatus" column="REQUEST_STATUS"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="cancelComment" column="CANCEL_COMMENT"/>
	</resultMap>
	
	<select id="selectPagingToDay" resultMap="reservWithStoreNameResultMap">
		SELECT r.*, 
	       (
	           SELECT s.STORE_NAME 
	           FROM STORE s 
	           WHERE s.STORE_ID = r.STORE_ID
	       ) AS STORE_NAME
		FROM (
		    SELECT RESERV_ID, STORE_ID, USER_ID, RESERV_DATE, RESERV_HOUR, RESERV_MIN, RESERV_PERSONNEL, RESERV_DATE_CREATED, CANCEL_STATUS, 
		           ROW_NUMBER() OVER (ORDER BY RESERV_DATE ASC) AS RN
		    FROM RESERV
		    WHERE USER_ID = #{userId} AND RESERV_DATE >= TRUNC(SYSDATE)
		) r
		WHERE r.RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectPagingPrevDay" resultMap="reservWithStoreNameResultMap">
		SELECT r.*, 
	       (
	           SELECT s.STORE_NAME 
	           FROM STORE s 
	           WHERE s.STORE_ID = r.STORE_ID
	       ) AS STORE_NAME
		FROM (
		    SELECT RESERV_ID, STORE_ID, USER_ID, RESERV_DATE, RESERV_HOUR, RESERV_MIN, RESERV_PERSONNEL, RESERV_DATE_CREATED, CANCEL_STATUS, 
		           ROW_NUMBER() OVER (ORDER BY RESERV_DATE DESC) AS RN
		    FROM RESERV
		    WHERE USER_ID = #{userId} AND RESERV_DATE <![CDATA[<]]> TRUNC(SYSDATE)
		    AND CANCEL_STATUS = 0
		) r
		WHERE r.RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectReservListByCancel" resultMap="reservWithStoreNameResultMap">
		SELECT r.*, 
	       (
	           SELECT s.STORE_NAME 
	           FROM STORE s 
	           WHERE s.STORE_ID = r.STORE_ID
	       ) AS STORE_NAME
		FROM (
		    SELECT RESERV_ID, STORE_ID, USER_ID, RESERV_DATE, RESERV_HOUR, RESERV_MIN, RESERV_PERSONNEL, RESERV_DATE_CREATED, CANEL_STATUS, 
		           ROW_NUMBER() OVER (ORDER BY RESERV_DATE DESC) AS RN
		    FROM RESERV
		    WHERE USER_ID = #{userId}
		    AND CANCEL_STATUS = 1
		) r
		WHERE r.RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectToDayTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM RESERV
		WHERE USER_ID = #{userId}
		AND RESERV_DATE >= TRUNC(SYSDATE)
	</select>
	
	<select id="selectPrevDayTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM RESERV
		WHERE USER_ID = #{userId}
		AND RESERV_DATE <![CDATA[<]]> TRUNC(SYSDATE)
		AND CANCEL_STATUS = 0
	</select>
	
	<select id="selectReservCancelTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM RESERV R
		INNER JOIN RESERV_CANCEL C
		ON R.RESERV_ID = C.RESERV_ID
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="joinReservWithStoreAndStoreAddressByReservInfo" resultMap="reservInfoResultMap">
		SELECT r.*,
			 s.STORE_NAME,
			 s.STORE_PHONE, 
			 a.ROAD_ADDRESS,
			 a.JIBUN_ADDRESS,
			 a.DETAIL_ADDRESS
		FROM RESERV r
		INNER JOIN STORE s
		ON r.STORE_ID = s.STORE_ID
		INNER JOIN STORE_ADDRESS a
		ON r.STORE_ID = a.STORE_ID
		WHERE r.RESERV_ID = #{reservId}
	</select>
	
	<select id="checkReservByUserId" resultType="Integer">
		SELECT COUNT(*) 
		FROM RESERV
		WHERE USER_ID = #{userId}
		AND RESERV_ID = #{reservId}
	</select>
	
	<insert id="insert">
		INSERT INTO RESERV
		VALUES(
			RESERV_SEQ.NEXTVAL,
			#{storeId},
			#{userId},
			#{reservDate},
			#{reservHour},
			#{reservMin},
			#{reservPersonnel},
			SYSDATE,
			0
		)
	</insert>
	
	<update id="updateCancelStatus" parameterType="map">
		UPDATE RESERV
		SET CANCEL_STATUS = #{cancelStatus}
		WHERE RESERV_ID IN 
		<foreach collection="cancelList" item="list" open="(" close=")" separator=",">
			#{list.reservId}		
		</foreach>
	</update>
	
	<select id="selectSchedule" resultMap="storeScheduleResultMap">
		SELECT RESERV_DATE, RESERV_HOUR AS HOUR, RESERV_MIN AS MIN, SUM(RESERV_PERSONNEL) AS TOTAL_PERSONNEL
		FROM RESERV
		WHERE STORE_ID = #{storeId}
		AND RESERV_DATE = #{reservDate}
		GROUP BY RESERV_DATE, RESERV_HOUR, RESERV_MIN
		ORDER BY HOUR
	</select>
	
	<select id="selectTotalPersonnelByStoreIdDateHourMin" resultType="Integer">
		SELECT NVL(SUM(RESERV_PERSONNEL), 0) AS TOTAL_PERSONNEL
		FROM RESERV
		WHERE STORE_ID = #{storeId}
		  AND RESERV_DATE = #{reservDate}
		  AND RESERV_HOUR = #{reservHour}
		  AND RESERV_MIN = #{reservMin}
	</select>
	
	<select id="selectStoreScheduleListByStoreIdReservDate" resultMap="storeScheduleResultMap">
		SELECT RESERV_DATE, RESERV_HOUR, RESERV_MIN, SUM(RESERV_PERSONNEL) AS TOTAL_PERSONNEL, COUNT(USER_ID) AS RESERV_TEAM FROM RESERV
		WHERE RESERV_DATE = #{reservDate}
		AND STORE_ID = #{storeId}
		GROUP BY RESERV_DATE, RESERV_HOUR, RESERV_MIN
		ORDER BY RESERV_HOUR ASC
	</select>
	
	<select id="selectReservListByHolidayList" parameterType="map" resultMap="reservWithStoreNameResultMap">
		SELECT * FROM RESERV
		WHERE STORE_ID = #{storeId}
		AND RESERV_DATE IN
		<foreach collection="holidayList" item="list" open="(" close=")" separator=",">
			#{list.holiday}
		</foreach>
	</select>
	
	<select id="selectReservListByStoreIdReservDateReservHourReservMin" resultMap="joinReservUserNameResultMap">
		SELECT r.*, u.NAME, u.PHONE
		FROM RESERV r
		LEFT OUTER JOIN USER_MEMBER u
		ON r.USER_ID = u.USER_ID
		WHERE STORE_ID = #{storeId}
		AND RESERV_DATE = #{reservDate}
		AND RESERV_HOUR = #{reservHour}
		AND RESERV_MIN = #{reservMin}
	</select>
	
	<select id="selectReservDateByHolidayListStoreId" parameterType="map" resultMap="reservWithStoreNameResultMap">
		SELECT RESERV_DATE FROM (
		    SELECT RESERV_DATE, COUNT(RESERV_ID) AS COUNT FROM RESERV
		    WHERE STORE_ID = #{storeId} 
		    AND RESERV_DATE IN
		    <foreach collection="holidayList" item="list" open="(" close=")" separator=",">
		    	#{list.holiday}
		    </foreach>
		    GROUP BY RESERV_DATE
		)
		ORDER BY RESERV_DATE
	</select>
	
	<select id="joinReservWithCancelReservIdCancelCommentAndUserNamePhoneByStoreIdCancelStatus" resultMap="cancelReservInfoResultMap">
		SELECT R.*, C.CANCEL_ID, C.CANCEL_COMMENT, C.REQUEST_STATUS, U.NAME, U.PHONE FROM RESERV R
		INNER JOIN RESERV_CANCEL C
		ON R.RESERV_ID = C.RESERV_ID
		INNER JOIN USER_MEMBER U
		ON R.USER_ID = U.USER_ID
		WHERE R.STORE_ID = #{storeId}
		AND CANCEL_STATUS = #{cancelStatus}
	</select>
	
</mapper>