<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.ReservCancelMapper">
	<resultMap type="com.eatplatform.web.domain.ReservCancelVO" id="reservCancelResultMap">
		<id property="cancelId" column="CANCEL_ID"/>
		<result property="requestType" column="REQUEST_TYPE"/>
		<result property="cancelComment" column="CANCEL_COMMENT"/>
		<result property="reservId" column="RESERV_ID"/>
	</resultMap>
	
	<select id="selectReservCancelByReservId" resultMap="reservCancelResultMap">
		SELECT * FROM RESERV_CANCEL
		WHERE RESERV_ID = #{reservId}
	</select>
	
	<insert id="insertReservCancelByReservList" parameterType="map">
		INSERT INTO RESERV_CANCEL (CANCEL_ID, REQUEST_TYPE, CANCEL_COMMENT, RESERV_ID)
		SELECT RESERV_CANCEL_SEQ.NEXTVAL, REQUEST_TYPE, CANCEL_COMMENT, RESERV_ID FROM
		<foreach collection="cancelList" item="list" open="(" close=")" separator="UNION ALL">
			SELECT #{requestType} AS REQUEST_TYPE, #{list.cancelComment} AS CANCEL_COMMENT, #{list.reservId} AS RESERV_ID FROM DUAL
		</foreach>
	</insert>
</mapper>