<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.ReservMapper">

	<resultMap type="com.eatplatform.web.domain.ReservVO" id="reservResultMap">
		<id property="reservId" column="RESERV_ID"/>
		<result property="storeId" column="STORE_ID"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="userId" column="USER_ID"/>
		<result property="reservDate" column="RESERV_DATE"/>
		<result property="reservTime" column="RESERV_TIME"/>
		<result property="reservPersonnel" column="RESERV_PERSONNEL"/>
		<result property="reservDateCreated" column="RESERV_DATE_CREATED"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.StoreScheduleVO" id="storeScheduleResultMap">
		<id property="time" column="TIME"/>
		<result property="totalPersonnel" column="TOTAL_PERSONNEL"/>
	</resultMap>
	
	<select id="selectPagingToDay" resultMap="reservResultMap">
		SELECT r.*, 
	       (
	           SELECT s.STORE_NAME 
	           FROM STORE s 
	           WHERE s.STORE_ID = r.STORE_ID
	       ) AS STORE_NAME
		FROM (
		    SELECT RESERV_ID, STORE_ID, USER_ID, RESERV_DATE, RESERV_TIME, RESERV_PERSONNEL, RESERV_DATE_CREATED,
		           ROW_NUMBER() OVER (ORDER BY RESERV_DATE ASC) AS RN
		    FROM RESERV
		    WHERE USER_ID = #{userId} AND RESERV_DATE >= TRUNC(SYSDATE)
		) r
		WHERE r.RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectPagingPrevDay" resultMap="reservResultMap">
		SELECT r.*, 
	       (
	           SELECT s.STORE_NAME 
	           FROM STORE s 
	           WHERE s.STORE_ID = r.STORE_ID
	       ) AS STORE_NAME
		FROM (
		    SELECT RESERV_ID, STORE_ID, USER_ID, RESERV_DATE, RESERV_TIME, RESERV_PERSONNEL, RESERV_DATE_CREATED,
		           ROW_NUMBER() OVER (ORDER BY RESERV_DATE DESC) AS RN
		    FROM RESERV
		    WHERE USER_ID = #{userId} AND RESERV_DATE <![CDATA[<]]> TRUNC(SYSDATE)
		) r
		WHERE r.RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectToDayTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM RESERV
		WHERE USER_ID = #{userId}
		AND RESERV_DATE >= TRUNC(SYSDATE)
	</select>
	
	<select id="selectPrevDayTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM RESERV
		WHERE USER_ID = #{userId}
		AND RESERV_DATE <![CDATA[<]]> TRUNC(SYSDATE)
	</select>
	
	<insert id="insert">
		INSERT INTO RESERV
		VALUES(
			RESERV_SEQ.NEXTVAL,
			#{storeId},
			#{userId},
			#{reservDate},
			#{reservTime},
			#{reservPersonnel},
			SYSDATE
		)
	</insert>
	
	<delete id="delete">
		DELETE RESERV
		WHERE RESERV_ID = #{reservId}
	</delete>
	
	<select id="selectSchedule" resultMap="storeScheduleResultMap">
		SELECT 
		    CONCAT(SUBSTR(RESERV_TIME, 1, 2), ':00') AS TIME,
		    SUM(RESERV_PERSONNEL) AS TOTAL_PERSONNEL
		FROM RESERV
		WHERE STORE_ID = #{storeId}
		AND RESERV_DATE = TRUNC(SYSDATE)
		GROUP BY SUBSTR(RESERV_TIME, 1, 2)
		ORDER BY TIME
	</select>
	
</mapper>