<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.ReviewLikeListMapper">
	
	<resultMap type="com.eatplatform.web.domain.ReviewLikeListVO" 
		id="reviewLikeListResultMap">
		<result property="reviewId" column="REVIEW_ID" />
		<result property="userId" column="USER_ID" />
		<result property="reviewLikeDate" column="REVIEW_LIKE_DATE" />
	</resultMap>
	
	<select id="checkLike" resultType="Integer">
		SELECT COUNT(*) FROM REVIEW_LIKE_LIST
		WHERE REVIEW_ID = #{reviewId} AND USER_ID = #{userId}
	</select>
	
	<insert id="insert">
		INSERT INTO REVIEW_LIKE_LIST (REVIEW_ID, USER_ID)
		VALUES (#{reviewId}, #{userId})
	</insert>
	
	<delete id="delete">
		DELETE REVIEW_LIKE_LIST
		WHERE REVIEW_ID = #{reviewId}
	</delete>

</mapper>