<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace -->
<mapper
	namespace="com.eatplatform.web.persistence.StoreAddressMapper">

	<resultMap type="com.eatplatform.web.domain.StoreAddressVO"
		id="StoreAddressResultMap">
		<id property="storeId" column="STORE_ID" />
		<result property="sido" column="SIDO" />
		<result property="sigungu" column="SIGUNGU" />
		<result property="bname1" column="BNAME1" />
		<result property="bname2" column="BNAME2" />
		<result property="roadAddress" column="ROAD_ADDRESS" />
		<result property="jibunAddress" column="JIBUN_ADDRESS" />
		<result property="detailAddress" column="DETAIL_ADDRESS" />
		<result property="extraAddress" column="EXTRA_ADDRESS" />
		<result property="postCode" column="POST_CODE" />
	</resultMap>

	<insert id="insertStoreAddress">
		INSERT INTO STORE_ADDRESS(
		STORE_ID, SIDO, SIGUNGU,
		BNAME1, BNAME2,
		ROAD_ADDRESS, JIBUN_ADDRESS,
		DETAIL_ADDRESS,
		EXTRA_ADDRESS,
		POST_CODE
		) VALUES (
		#{storeId},
		#{sido},
		#{sigungu},
		#{bname1},
		#{bname2},
		#{roadAddress},
		#{jibunAddress},
		#{detailAddress},
		#{extraAddress},
		#{postCode}
		)
	</insert>

	<select id="selectStoreAddressById"
		resultMap="StoreAddressResultMap">
		SELECT *
		FROM STORE_ADDRESS
		WHERE
		STORE_ID = #{storeId}
	</select>

	<update id="updateStoreAddress">
		UPDATE STORE_ADDRESS
		SET
		SIDO = #{sido},
		SIGUNGU = #{sigungu},
		BNAME1 = #{bname1},
		BNAME2 = #{bname2},
		ROAD_ADDRESS = #{roadAddress},
		JIBUN_ADDRESS = #{jibunAddress},
		DETAIL_ADDRESS = #{detailAddress},
		EXTRA_ADDRESS = #{extraAddress},
		POST_CODE = #{postCode}
		WHERE STORE_ID = #{storeId}
	</update>

</mapper>