<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.StoreApprovalsMapper">

	<resultMap type="com.eatplatform.web.domain.StoreApprovalsVO" id="storeApprovalsResultMap">
		<id property="storeId" column="STORE_ID"/>
		<result property="approvals" column="APPROVALS"/>
		<result property="storeApprovalsRegDate" column="STORE_APPROVALS_REG_DATE"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.JoinStoreApprovalsListVO" id="joinStoreApprovalsListResultMap">
		<id property="storeId" column="STORE_ID"/>
		<result property="approvals" column="APPROVALS"/>
		<result property="storeApprovalsRegDate" column="STORE_APPROVALS_REG_DATE"/>
		<result property="storeUserId" column="STORE_USER_ID"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<resultMap type="com.eatplatform.web.domain.JoinStoreApprovalsInfoVO" id="joinStoreApprovalsInfoResultMap">
		<id property="storeId" column="STORE_ID"/>
		<result property="approvals" column="APPROVALS"/>
		<result property="storeApprovalsRegDate" column="STORE_APPROVALS_REG_DATE"/>
		<result property="storeUserId" column="STORE_USER_ID"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="storePhone" column="STORE_PHONE"/>
		<result property="ownerName" column="OWNER_NAME"/>
		<result property="reservLimit" column="RESERV_LIMIT"/>
		<result property="seat" column="SEAT"/>
		<result property="businessHour" column="BUSINESS_HOUR"/>
		<result property="storeComment" column="STORE_COMMENT"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="roadAddress" column="ROAD_ADDRESS"/>
		<result property="jibunAddress" column="JIBUN_ADDRESS"/>
		<result property="detailAddress" column="DETAIL_ADDRESS"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
	</resultMap>
	
	<insert id="insertStoreApprovals">
		INSERT INTO STORE_APPROVALS
		VALUES(
			#{storeId},
			#{approvals},
			SYSDATE
		)
	</insert>
	
	<update id="updateStoreApprovals">
		UPDATE STORE_APPROVALS
		SET APPROVALS = #{approvals}
		WHERE STORE_ID = #{storeId}
	</update>
	
	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(STORE_ID) COUNT
		FROM STORE_APPROVALS
		WHERE APPROVALS = 0
	</select>
	
	<select id="selectApprovalsList" resultMap="joinStoreApprovalsListResultMap">
		SELECT *
		FROM (
            SELECT ROW_NUMBER() OVER(ORDER BY a.STORE_APPROVALS_REG_DATE DESC) AS RN, 
            	   a.*,
            	   s.STORE_USER_ID, 
				   s.STORE_NAME, 
				   u.PHONE, 
				   u.NAME
            FROM STORE_APPROVALS a
            INNER JOIN STORE s
            ON a.STORE_ID = s.STORE_ID
            INNER JOIN USER_STORE u
            ON s.STORE_USER_ID = u.USERNAME
            WHERE u.ACTIVE = 1
            )
        WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectApprovalInfoByStoreId" resultMap="joinStoreApprovalsInfoResultMap">
		SELECT a.*,
			   s.STORE_USER_ID,
			   s.STORE_NAME,
			   s.STORE_PHONE,
			   s.OWNER_NAME,
			   s.RESERV_LIMIT,
			   s.SEAT,
			   s.BUSINESS_HOUR,
			   s.STORE_COMMENT,
			   s.DESCRIPTION,
			   d.ROAD_ADDRESS,
			   d.JIBUN_ADDRESS,
			   d.DETAIL_ADDRESS,
			   u.PHONE,
			   u.EMAIL
		FROM STORE_APPROVALS a
		INNER JOIN STORE s
		ON a.STORE_ID = s.STORE_ID
		INNER JOIN STORE_ADDRESS d
		ON a.STORE_ID = d.STORE_ID
		INNER JOIN USER_STORE u
		ON s.STORE_USER_ID = u.USERNAME
		WHERE a.STORE_ID = #{storeId}
		AND u.ACTIVE = 1
	</select>
		
	<select id="selectApprovalsByStoreId" resultMap="storeApprovalsResultMap">
		SELECT * FROM STORE_APPROVALS
		WHERE STORE_ID = #{storeId}
	</select>
</mapper>