<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<!-- namespace -->
<mapper	namespace="com.eatplatform.web.persistence.UserListMapper">

	<resultMap type="com.eatplatform.web.domain.UserListVO" id="userListResultMap">
		<id property="userId" column="USER_ID" />
		<result property="userPw" column="USER_PW"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAuth" column="USER_AUTH"/>
		<result property="userActiveYn" column="USER_ACTIVE_YN"/>
		<result property="userRegDate" column="USER_REG_DATE"/>
	</resultMap>

</mapper>