<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper XML 설정 태그 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eatplatform.web.persistence.UserDelMapper">
	
	<delete id="deleteWithdrawlUser">
		DELETE FROM WITHDRAWL_USER
		WHERE TRUNC(REG_DATE) = #{deadline}
	</delete>
	
</mapper>